<div class='row'>
  <div class='col s12 m8'>
    <h3>{{observation.title}}
      {{!-- <small>{{{editIcon observation.user user observation._id false}}}</small> --}}
    </h3>
    <div class='card story'>
      <div class='card-content'>
        <span class='card-title'>{{formatDate date 'MMMM Do YYYY'}}</span>
        <div class='row'>
          <div class='card-image'>
            <img src='{{observation.image}}' alt='' />
          </div>
        </div>
        <div class='row'>
          <div class='col m6'>Location (Lat/Long):
            {{observation.latitude}}
            /
            {{observation.longitude}}
            <div>Number observed: {{observation.number}}</div>
          </div>
          <div class='col m5 offset-m1'>Common Name:
            {{observation.commonName}}
            <div>General Taxa: {{capitalize observation.generalTaxa}}</div>
          </div>
        </div>
        <div class='divider clear'></div>
        <div class='clear'>
          {{{observation.details}}}
        </div>
      </div>
    </div>
  </div>
  <div class='col s12 m4'>
    <div class='card center-align'>
      <div class='card-content'>
        <span class='card-title'>{{observation.user.displayName}}</span>
        <img
          src='{{observation.user.image}}'
          alt='{{observation.user.displayName}} image'
          class='circle responsive-img img-small'
        />
      </div>
      <div class='card-action'>
        <a href='/observations/user/{{observation.user._id}}'>More from
          {{observation.user.firstName}}.</a>
      </div>
    </div>
  </div>
</div>